body {
  text-align: center;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
  font-stretch: semi-condensed;
  align-items: center;
  // overflow: auto;
  // white-space: nowrap;

  #app {
    display: grid;
    margin: auto;
    width: 1350px;
    border: 40px solid gray;
  }
}