body {
  text-align: center;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
  font-stretch: semi-condensed;
  align-items: center;

  #app {
    display: grid;
    margin: auto;
    width: 1620px;
    border: 40px solid gray;
    background-color: gray;
  }

  h2 {
    font-size: 80px;
    border: 0px;
    margin: 0px;
    color: $jeopardyBlue;
  }

}