.cell {
  font-size: 40px;
  background-color: rgb(0, 0, 201);
  color: white;
  height: 150px;
  width: 250px;
  border: 3px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  word-wrap: normal;
  word-break: normal;

  .clue {
    font-size: 20px;
    #question {

    }
    #answer {

    }
  }
}